name: CI-CD Docker Build, Push (latest) to DockerHub and Deploy to PaaS

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up JDK 25 (LTS)
        uses: actions/setup-java@v4
        with:
          distribution: 'oracle'
          java-version: '25'

      - name: Grant execute permission to Gradle wrapper
        run: chmod +x gradlew

      - name: Build application with Gradle
        run: ./gradlew clean build

      - name: Set up Docker Build
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image (latest)
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/dou-rss-producer:latest

      - name: Trigger Render deploy
        run: curl -X POST ${{ secrets.RENDER_DEPLOY_HOOK }}